/* *{
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 20px;
}
h1{
    color: red;
    font-size: 2rem;
}
h2{
    color: blue;
    font-size: 40px;
}
h3{
    color: brown;
    font-size: 100%;
}
h4{
    color: green;
    font-size: 3vw;
} */

.box{
    
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 5px solid red;
    margin: 20px;   
    padding: 20px;
}