body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}
.container {
    margin-top: 60px;
    padding: 20px;
}
.static-box {
    position: static;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.relative-box {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.absolute-box-container {
    position: relative;
    height: 200px;
    background-color: #eee;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.absolute-box {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
}
.sticky-box {
    position: sticky;
    top: 10px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.fixed-box {
    position: fixed; 
    bottom: 0;
     right: 0;
      background-color: #f4f4f4; 
      padding: 10px; 
      border: 1px solid #ccc;
}

.fixed-box img {
    width: 100px;
    height: auto;
}